* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0px;
    margin: 0px;
}

section {
    padding: 100px 0px;
}

p {
    font-size: 18px;
}

/***** HEADER SECTION START********/
header {
    padding: 20px 0;
}


.navbar-light .navbar-nav .nav-link {
    color: #36226f !important;
    font-weight: 500;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #36226f !important;

}

/***** HEADER SECTION END********/

/***** HERO SECTION START********/

section.hero {
    background-image: url(../image/hero.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    min-height: 90vh;
    padding: 0px !important;
}

.row.height {
    min-height: 90vh;
    align-items: center;
    position: relative;
}

.row.height h1 {
    text-align: center;
    color: #fff;
    font-size: 60px;
    font-weight: 700;
}

.arrow {
    position: absolute;
    left: 50%;
    bottom: 14%;
    color: #fff;
    font-size: 30px;
    transform: translate(-50%);
}


/***** HERO SECTION END********/

/***** WHO WE ARE SECTION START********/
section.who-we-are span {
    background-color: #e55222;
    height: 3px;
    width: 65px;
    display: block;
    margin: 25px 0px;
}

section.who-we-are h2 {
    color: #36226f;
    margin: 25px 0px;
}


/***** WHO WE ARE SECTION END********/

/***** WHAT WE DO SECTION START********/


.row.what-we-content span {
    background-color: #e55222;
    height: 4px;
    width: 65px;
    display: block;
    margin: auto;
    margin-bottom: 25px;
}

.col-md-12.what-we-do-padding {
    padding: 0px 100px;
}

.row.what-we-content h2 {
    color: #36226f;
}

.row.what-we-content {
    text-align: center;
    padding-bottom: 50px;
}


.box-items {
    position: relative;
}


.box-items::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2989d8+19,36226f+100&0+24,1+100 */
    background: -moz-linear-gradient(top, rgba(41, 137, 216, 0) 19%, rgba(42, 131, 210, 0) 24%, rgba(54, 34, 111, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(41, 137, 216, 0) 19%, rgba(42, 131, 210, 0) 24%, rgba(54, 34, 111, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(41, 137, 216, 0) 19%, rgba(42, 131, 210, 0) 24%, rgba(54, 34, 111, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#002989d8', endColorstr='#36226f', GradientType=0);
    /* IE6-9 */
    transition: .4s all ease-in-out;


}

.box-items:hover::before {
    height: 100%;


}

.content {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    transition: .4s all ease-in-out;
    opacity: 0;
}

.content h3 {
    color: #fff;
    font-weight: 700;
    font-size: 38px;
}

.box-items:hover .content {
    opacity: 1;
    top: 50%;

}

.icon {
    position: absolute;
    left: 40%;
    bottom: 22%;
    transform: translate(-50%, -50%);
    transition: .4s all ease-in-out;
    opacity: 0;
}

.icon i {
    color: #fff;
    font-size: 22px;
}

.box-items:hover .icon {
    opacity: 1;
    left: 50%;
}

/***** WHAT WE DO SECTION END********/

/***** OUR ATTORNEYS SECTION START********/

.our-attorneys-main-content {
    text-align: left;
}

.our-attorneys span {
    background-color: #e55222;
    height: 3px;
    width: 65px;
    display: block;
    margin-bottom: 25px;
}

.our-attorneys h2 {
    color: #f8f9fa;
}

.our-attorneys p {
    color: #fff;
}

.our-attorneys a {
    color: #e55222;
    font-weight: 600;
    text-decoration: none;
}

.our-attorneys {
    text-align: center;
    padding-bottom: 50px;
}

.attorneys-items {
    position: relative;
}

.attorneys-items::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2989d8+19,36226f+100&0+24,1+100 */
    background: -moz-linear-gradient(top, rgba(41, 137, 216, 0) 19%, rgba(42, 131, 210, 0) 24%, rgba(54, 34, 111, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(41, 137, 216, 0) 19%, rgba(42, 131, 210, 0) 24%, rgba(54, 34, 111, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(41, 137, 216, 0) 19%, rgba(42, 131, 210, 0) 24%, rgba(54, 34, 111, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#002989d8', endColorstr='#36226f', GradientType=0);
    /* IE6-9 */
    transition: .4s all ease-in-out;
    opacity: 0;
}

.attorneys-items:hover::before {
    height: 100%;
    opacity: 1;
}

.attorneys-content {
    position: absolute;
    left: 30%;
    top: 95%;
    transform: translate(-50%, -50%);
    transition: .4s all ease-in-out;
    opacity: 0;
    text-align: left;
}

.attorneys-items:hover .attorneys-content {
    opacity: 1;
    top: 85%;
}

.attorneys-content h4 {
    color: #fff;
    font-size: 20px;
}

/***** OUR ATTORNEYS SECTION END********/

/***** LANGUAGES SECTION START********/
section.our-attorneys {
    background-image: url(../image/our-attorneys-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 90vh;
    padding: 100px 0px;
    background-color: #36226f;
}

.languages-content {
    text-align: center;
    padding-bottom: 60px;
}

section.languages h3 {
    color: #36226f;
    font-size: 22px;
}

.languages-content span {
    background-color: #e55222;
    height: 3px;
    width: 65px;
    display: block;
    margin: auto;
    margin-bottom: 25px;
}

.languages-content h2 {
    color: #36226f;
}

section.languages a {
    color: #e55222;
    font-weight: 600;
    text-decoration: none;
}

/***** LANGUAGES SECTION END********/
section.form {
    background-color: #36226f;
}

input#fname {
    width: 100%;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #fff;
    margin-bottom: 40px;
    padding-bottom: 15px;
    color: #dfdfdf;
}

input#email {
    width: 100%;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #fff;
    margin-bottom: 40px;
    padding-bottom: 15px;
    color: #dfdfdf;
}

#Message {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    margin-bottom: 40px;
    color: #dfdfdf;

}

/************************************************************* FOCUS PROBLEM AND FOCUS-VISIBLE PROBLE SOVLE ************************************************************************************/
textarea:focus,
input:focus {
    outline: none;
}


/************************************************************** FOCUS PROBLEM AND FOCUS-VISIBLE PROBLE SOVLE *****************************************************************/
input[type="submit"] {
    background: #ec6b29;
    border: none;
    color: #fff;
    padding: 8px 30px;
    border-radius: 5px;
}

footer {
    background-color: #16102b;
}

p.p {
    display: flex;
    text-align: right;
    align-items: end;
    display: block;
}

footer p {
    margin: 0px;
    padding: 18px 0px;
    color: #dfdfdf;
    font-size: 16px;
}